
  <div class='modal js-modal'>
    <img class='modal__picture' src='{{images.3.url}}' alt='{{name}}' />

    <div class='modal__body'>
      <div class='modal__cont'>
        <img class='modal__image' src='{{images.6.url}}' alt='{{name}}' />
      </div>
      <div class='modal__cont'>
        <ul class='list'>
          <li class='modal__item'>
            <h3 class='modal__title'>info</h3>
            <p>
              {{info}}
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>when</h3>
            <p>
              {{dates.start.localDate}}
              <br />
              {{dates.start.localTime}} ({{dates.timezone}})
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>where</h3>
            <p>
              {{_embedded.venues.0.city.name}}, {{_embedded.venues.0.country.name}}
              <br />
              {{_embedded.venues.0.name}}
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>who</h3>
            <p>
              {{name}}
            </p>
          </li>

          <li class='modal__item'>
            <h3 class='modal__title'>prices</h3>
            <ul class='list'>

              <li class='modal__price'>
                <p class='modal__text'>
                  <svg class='modal__icon' viewBox='0 0 44 32'>
                    <path
                      d='M4.91 1.269h-4.91v29.461h4.91v-29.461zM17.26 1.269h-4.911v29.461h4.911v-29.461zM24.699 1.269h-4.91v29.461h4.91v-29.461zM44.19 1.269h-7.291v29.461h7.291v-29.461zM9.819 1.269h-2.38v29.461h2.38v-29.461zM29.46 1.269h-2.38v29.461h2.38v-29.461zM34.37 1.269h-2.38v29.461h2.382v-29.461z'
                    ></path>
                  </svg>
                  {{priceRanges.0.type}} {{priceRanges.0.min}}-{{priceRanges.0.max}} {{priceRanges.0.currency}}
                </p>
                <button class='modal__button modal__buy-button' type='button' data-modal-open>BUY
                  TICKETS</button>
              </li>

              <li class='modal__price'>
                <p class='modal__text'>
                  <svg class='modal__icon' viewBox='0 0 44 32'>
                    <path
                      d='M4.91 1.269h-4.91v29.461h4.91v-29.461zM17.26 1.269h-4.911v29.461h4.911v-29.461zM24.699 1.269h-4.91v29.461h4.91v-29.461zM44.19 1.269h-7.291v29.461h7.291v-29.461zM9.819 1.269h-2.38v29.461h2.38v-29.461zM29.46 1.269h-2.38v29.461h2.38v-29.461zM34.37 1.269h-2.38v29.461h2.382v-29.461z'
                    >
                    </path>
                  </svg>
                  {{priceRanges.1.type}} {{priceRanges.1.min}}-{{priceRanges.1.max}} {{priceRanges.1.currency}}
                </p>
                <button class='modal__button modal__buy-button' type='button' data-modal-open>BUY
                  TICKETS</button>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <button class='modal__button modal__more-button' type='button' data-modal-open>
      MORE FROM THIS AUTHOR
    </button>

    <button class='modal__close-button' data-modal-close>
      <svg class='modal__close-icon' viewBox='0 0 32 32'>
        <path
          d='M1.646 32c-0 0-0 0-0 0-0.909 0-1.646-0.737-1.646-1.646 0-0.455 0.185-0.867 0.483-1.165l28.707-28.707c0.298-0.298 0.71-0.483 1.165-0.483 0.91 0 1.647 0.737 1.647 1.647 0 0.455-0.184 0.866-0.482 1.164l-28.709 28.707c-0.298 0.298-0.71 0.482-1.165 0.483h-0z'
        >
        </path>
        <path
          d='M30.355 32c-0.422 0-0.844-0.16-1.165-0.483l-28.707-28.707c-0.298-0.298-0.483-0.71-0.483-1.165 0-0.909 0.737-1.646 1.646-1.646 0.454 0 0.866 0.184 1.164 0.482v0l28.707 28.708c0.298 0.298 0.483 0.71 0.483 1.165 0 0.909-0.736 1.646-1.645 1.646h-0z'
        >
        </path>
      </svg>
    </button>

  </div>